#omg{width:100%; background-color:rgba(247, 202, 24, 1); text-align:center}
body{background-image: url(pict/samurai.jpg);background-repeat:no-repeat; background-attachment: fixed; background-position: center; background-size: cover}
div{background-color: rgba(129, 207, 224, 1);color: greenyellow}